<div class="container">
  <div class="row">
    <% @fundraisers.each do |fundraiser| %>
      <figure class="col-xs-6 col-sm-4 col-md-3 col-lg-2 person">
        <img src="<%= fundraiser.image_file %>" class="img-circle img-responsive headshot" alt="<%= fundraiser.full_name %>" />
        <figcaption><%= fundraiser.full_name %></figcaption>
      </figure>
      
    <% end %>
  </div>
</div>



