figure img {
	border: solid 4px green;
	margin: 0 auto;
	padding: 3px;

}

figure, figcaption {
	text-align: center;
}

figcaption {
	font-weight: bold;
	margin-top: 1rem;
}

.container {
	margin-top: 5rem;
}

.thumbnail {
	border: none;
}


