figure img {
	position: relative;
	border: solid 4px green;
	z-index: 101;
	margin: 0;
	padding: 2px;
}

figure, figcaption {
	text-align: center;
}

figcaption {
	font-weight: bold;
	margin-top: 1rem;
}

.container {
	margin-top: 5rem;
}

.thumbnail {
	position: relative; 
	border: none;
	padding: 0;
}

